<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
</head>
<body>
    <nav>
        <ul style="list-style: none; padding: 0; margin: 0; display: flex; gap: 1em;">
            <li><a href="pagina1.html">Ir a Página 1</a></li>
            <li><a href="pagina2.html">Ir a Página 2</a></li>
            <li><a href="pagina3.html">Ir a Página 3</a></li>
            <li><a href="comparar.html">Busqueda de headers</a></li>

<!--             <li><a href="servidores.html">Ver Encabezados de Servidores</a></li>
            <li><a href="comparar.html">Comparar Fetch vs cURL</a></li> -->
        </ul>
    </nav>
    <h1>Página Principal (Index)</h1>
    <p>
        Bienvenido a la página principal del proyecto de exploración de servidores web.<br>
        Aquí puedes aprender sobre el funcionamiento de los servidores web, los encabezados HTTP y comparar cómo distintas herramientas obtienen información de los servidores.<br>
        Usa el menú para navegar entre las secciones y descubrir más sobre este tema fundamental en la infraestructura de Internet.
    </p>
</body>
</html>
